[Unit]
Description=alpaca-tunnel
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/alpaca-tunnel -c /usr/local/etc/alpaca-tunnel.json
Restart=always

[Install]
WantedBy=multi-user.target

